.month__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.month__days {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.day {
    padding: 0.5rem 0;
    text-align: center;
}

.is-different-month {
    opacity: 0.25;
}